APP_NAME=SISKA
DEBUG=false
DATABASE_URL=postgresql+asyncpg://avnadmin:REPLACE_WITH_PASSWORD@REPLACE_WITH_AIVEN_HOST:REPLACE_WITH_PORT/defaultdb?ssl=require
SECRET_KEY=REPLACE_WITH_A_LONG_RANDOM_SECRET
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
AI_API_URL=https://elsann-api-absensi.hf.space
DEVICE_ID=REPLACE_WITH_DEVICE_ID
DEVICE_TOKEN=REPLACE_WITH_DEVICE_TOKEN
ML_ADMIN_USERNAME=REPLACE_WITH_ML_ADMIN_USERNAME
ML_ADMIN_PASSWORD=REPLACE_WITH_ML_ADMIN_PASSWORD
CORS_ORIGINS=["http://REPLACE_WITH_SERVER_IP"]
MAX_FILE_SIZE=5242880
